<h1>{{ data.name }}</h1>

{{!-- This message is set when a Cat has been updated --}}
{{#if message }}
  <p class="message message--{{message.type}}">{{message.body}}</p>
{{/if}}

<h2>Age: {{ data.age }}</h2>
<h3>Color: {{ data.color }}</h3>
<hr>
  {{#if user}}
    <a href="/cats/{{ data.id }}/edit">Edit</a> 
  {{/if}}
  <a href="/cats">See all</a>

